body {
    margin: 0;
    padding: 0;
}

#title {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 25pt;
    color: Black;
}

#subtitle {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 70px;
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15pt;
    color: Black;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#legend {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 110px;
    background: #fff;
    margin-right: 20px;
    margin-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 20px 10px 10px;
    border-radius: 3px;
    text-align: left;
}

.legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

#source {
    position: absolute;
    bottom: 0;
    left: 20px;
    background: #fff;
    margin-right: 20px;
    margin-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 20px 10px 10px;
    border-radius: 3px;
    text-align: left;
}

.mapboxgl-canvas-container.mapboxgl-interactive,
.mapboxgl-ctrl-group button.mapboxgl-ctrl-compass {
    cursor: unset;
}